//banner version 3
.banner-area {
    padding: 394px 0px 100px 0px;
    background-position: right top;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    @include mq(xl) {
      padding: 300px 0px 100px 0px;
    }
    @include mq(lg) {
      padding: 230px 0 60px 0;
    }
    @include mq(md) {
      padding: 230px 0 10px 0;
    }
    @include mq(xs) {
      padding: 184px 0 66px 0;
    }
    @include mq(sm) {
      padding: 150px 0 68px 0;
    }
    &:before {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      background-color: #000;
      height: 100%;
      width: 100%;
      opacity: 0.8;
      z-index: -1;
      display: none;
      @include mq(xl) {
        display: block;
      }
    }
  }
  .banner {
    max-width: 708px;
    padding-bottom: 145px;
    @include mq(xl) {
      max-width: 605px;
    }
    @include mq(lg) {
      max-width: 550px;
    }
    @include mq(md) {
      max-width: 450px;
    }
    @include mq(xs) {
      max-width: 350px;
      padding-bottom: 50px;
    }
    @include mq(sm) {
      max-width: 430px;
      padding-bottom: 50px;
    }
    &.owl-carousel {
      .owl-nav {
        display: none;
      }
    }
  }
  .banner.owl-carousel .owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
  }
  .banner.owl-carousel .owl-dots {
    position: absolute;
    bottom: 0;
    right: 0;
    @include mq(sm) {
      left: 40%;
    }
  }
  
  .banner.owl-carousel .owl-dots button {
    width: 10px;
    height: 10px;
    background-color: #ffff;
    margin: 0 5px;
    @include mq(md) {
      width: 6px;
      height: 6px;
    }
  }
  
  .banner.owl-carousel .owl-dots button.active {
    background-color: #81bd4c;
  }
  .banner-mask {
    position: absolute;
    bottom: 0;
    left: 0;
    img {
      @include mq(lg) {
        width: 82%;
      }
      @include mq(md) {
        width: 61%;
      }
      @include mq(xs) {
        width: 44%;
      }
      @include mq(sm) {
        width: 73%;
      }
    }
  }
  .banner-desc {
    @include mq(sm) {
      text-align: center;
    }
    h2 {
      font-family: 'Playfair Display', serif;
      font-size: 75px;
      line-height: 96px;
      font-weight: 900;
      color: #ffffff !important;
      margin-bottom: 14px;
      @include mq(xl) {
        font-size: 60px;
        line-height: 80px;
      }
      @include mq(lg) {
        font-size: 57px;
        line-height: 75px;
      }
      @include mq(md) {
        font-size: 47px;
      }
      @include mq(xs) {
        font-size: 37px;
        line-height: 51px;
      }
      @include mq(sm) {
        font-size: 30px;
        line-height: 38px;
      }
    }
    span {
      color: #81bd4c;
    }
    p {
      font-family: 'Raleway', sans-serif;
      font-size: 18px;
      line-height: 28px;
      font-weight: 500;
      margin-bottom: 30px;
      color: #ffffff;
      max-width: 506px;
      @include mq(xl) {
        max-width: 430px;
      }
      @include mq(lg) {
        max-width: 400px;
      }
      @include mq(md) {
      }
      @include mq(xs) {
        max-width: 283px;
        font-size: 16px;
      }
      @include mq(sm) {
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        max-width: 300px;
        margin: 0 auto 10px;
      }
    }
  }
  .btno {
    color: $white-dark;
    background-color: $thmV3;
    border-radius: 5px;
  }
  .banner.owl-carousel .owl-item .banner-desc h1,
  .banner.owl-carousel .owl-item .banner-desc p,
  .banner.owl-carousel .owl-item .banner-desc a {
    transform: translateY(100px);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.5s ease, clip-path 0.8s ease;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .banner.owl-carousel .owl-item .banner-desc p {
    transition-delay: 0.3s;
  }
  .banner.owl-carousel .owl-item .banner-desc a {
    transition-delay: 0.6s;
  }
  
  .banner.owl-carousel .owl-item.active .banner-desc h1,
  .banner.owl-carousel .owl-item.active .banner-desc p,
  .banner.owl-carousel .owl-item.active .banner-desc a {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .banner-mask img {
    height: 100%;
  }
  
  /*About version 3 scss starts*/
  .about-area {
    position: relative;
    @include mq(xs) {
      padding: 50px 0;
    }
  }
  
  .juice-about {
    max-width: 673px;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    padding: 50px 67px;
    margin-left: auto;
    @include mq(lg) {
      max-width: 543px;
      padding: 50px 37px;
    }
    @include mq(sm) {
      max-width: 100%;
      padding: 30px 20px;
    }
    h4 {
      font-family: 'Playfair Display', serif;
      font-size: 24px;
      font-weight: 700;
      line-height: 31.99px;
      color: #81bd4c;
      margin-bottom: 18px;
      @include mq(sm) {
        font-size: 20px;
        margin-bottom: 10px;
      }
    }
    p,
    ul {
      font-family: 'Raleway', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      color: #555555;
      @include mq(sm) {
        font-size: 14px;
        line-height: 20.78px;
        margin-bottom: 10px;
      }
    }
    p {
      margin-bottom: 20px;
    }
    ul {
      li {
        margin-left: 15px;
        position: relative;
        padding-left: 15px;
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
        &::before {
          position: absolute;
          content: '';
          width: 10px;
          height: 10px;
          background-color: #81bd4c;
          top: 7px;
          left: -10px;
          @include mq(sm) {
            width: 6px;
            height: 6px;
            top: 7px;
            left: -2px;
          }
        }
      }
    }
  }
  .about-back-img {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    img {
      height: 100%;
    }
  }
  .inner {
    padding: 0px 67px 105px 0px;
    max-width: 740px;
    margin-left: auto;
    margin-right: 180px;
    position: relative;
    @include mq(lg) {
      padding: 0px 67px 80px 0px;
      max-width: 800px;
      margin-right: 0;
    }
    @include mq(sm) {
      padding: 0px 10px 0px 0px;
      max-width: 100%;
    }
    img {
      position: absolute;
      bottom: 0;
      right: 0;
      @include mq(sm) {
        display: none;
      }
    }
  }
  /*About Version 3 scss ends here*/
  /*juice corner css starts from here*/
  .juice-corner {
    background-color: #fafafa;
    overflow: hidden;
    @include mq(xs) {
      padding: 50px 0;
    }
    .nav-tabs {
      border: none;
    }
    .nav {
      gap: 24.45px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      @include mq(lg) {
        gap: 20px;
      }
    }
    .nav-link {
      padding: 0;
    }
    .nav-tabs .nav-link {
      margin-bottom: 0;
      background: #fff;
      border: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      padding: 27.71px 47.78px 28px 48px;
      @include mq(xxl) {
        padding: 20px 40px;
      }
      @include mq(xl) {
        padding: 20px 25px;
      }
      @include mq(lg) {
        padding: 20px 22px;
      }
    }
    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
      box-shadow: -10px 30px 50px rgba(0, 0, 0, 0.05);
      border: none;
      border-radius: 10px;
    }
    .nav-tabs .nav-link img {
      width: 102px;
      height: 102px;
      margin-bottom: 18px;
      @include mq(lg) {
        margin-bottom: 10px;
        width: 55px;
        height: 55px;
      }
    }
    .nav-tabs .nav-link p {
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 9px;
      color: #1f2228;
      @include mq(lg) {
        font-size: 16px;
        margin-bottom: 5px;
      }
    }
  
    .nav-tabs .nav-link span {
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      font-family: 'Raleway', sans-serif;
      display: block;
      color: #1f2228;
      @include mq(xxl) {
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
  
  .heading {
    text-align: center;
    max-width: 464px;
    margin: 0 auto;
    position: relative;
    height: 143px;
  
    h3 {
      font-weight: bold;
      font-size: 36px;
      line-height: 48px;
      margin-bottom: 12px;
      color: #81bd4c;
      @include mq(sm) {
        font-size: 24px;
        line-height: 2rem;
        margin-bottom: 10px;
      }
    }
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #555555;
    }
    &::after {
      content: '';
      width: 148px;
      height: 2px;
      background-color: #81bd4c;
      position: absolute;
      bottom: 15px;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &::before {
      position: absolute;
      content: '';
      width: 64px;
      height: 2px;
      background-color: #81bd4c;
      left: 50%;
      transform: translate(-50%, 50%);
      bottom: 0;
    }
  }
  
  .nav-wrapper {
    padding: 50px 0 37px 0;
  }
  .juice-wrapper {
    max-width: 1408px;
    margin: 0 auto;
  }
  
  .all-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    @include mq(md) {
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }
    @include mq(sm) {
      grid-template-columns: 1fr;
      gap: 20px;
    }
    .single-item {
      background-color: #fff;
      padding: 14px;
      border-radius: 10px;
      @include mq(sm) {
        max-width: 450px;
        margin: 0 auto;
      }
      img {
        width: 100%;
      }
    }
  }
  
  .single-img {
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }
  
  .team-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: all 0.3s ease-in-out;
    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      z-index: -1;
      opacity: 0.75;
      border-radius: 5px 5px 0 0;
    }
  }
  .btn:hover {
    color: #ddd;
  }
  .single-item:hover .team-img-overlay {
    opacity: 1;
    visibility: visible;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .single-item:hover .team-img-content {
    top: 50%;
  }
  
  .team-img-content {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%);
    transition: all 0.4s ease-in;
    width: 100%;
  }
  
  .item-desc {
    text-align: center;
    padding: 22px 0px;
    span {
      font-family: 'Playfair Display', serif;
      font-size: 36px;
      line-height: 48px;
      font-weight: 700;
      color: #1f2228;
      @include mq(xl) {
        font-size: 25px;
      }
      @include mq(sm) {
        line-height: 2rem;
      }
    }
    p {
      font-size: 24px;
      line-height: 28.28px;
      font-weight: 500;
      color: #1f2228;
      margin-top: 20px;
      @include mq(xl) {
        font-size: 20px;
      }
      @include mq(lg) {
        margin-top: 10px;
      }
      @include mq(sm) {
        line-height: 1.5rem;
        font-size: 18px;
      }
    }
  }
  
  .juice-item .item.active .item {
    box-shadow: 5px 10px 3px 10px #ddd;
  }
  .juice-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    @include mq(sm) {
      margin-top: 30px;
    }
  }
  /*Juice corner css ends*/
  
  /*working procedure starts */
  .work-procedure {
    position: relative;
    background-position: center;
    background-size: cover;
    @include mq(md){
      padding: 70px 0;
    }
    @include mq(xs){
      padding: 50px 0;
    }
  }
  .wrapper-img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    img{
      @include mq(md){
        width: 250px;
      }
    }
  }
  .procedure-wrapper {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    @include mq(xs){
      flex-direction: column;
      max-width: 600px;
    }
  }
  .work-juice {
    max-width: 502px;
    width: 100%;
    margin-right: 80px;
    position: relative;
    @include mq(xs){
      margin-right: 0;
    }
    img{
      width: 100%;
      height: 100%;
    }
  }
  .desc-left-videobtn{
    position: absolute;
    content: "";
    top: 50%;
    right: -54px;
    transform: translateY(-50%);
    img{
      @include mq(md){
        width: 60px;
      }
    }
    @include mq(md){
      right: -25px;
    }
    @include mq(xs){
      img{
        width: 90px;

      }
      width: 90px;
      height: 90px;
      right: auto;
      left: 50%;
      transform: translate(-50%,-50%);
      padding: 10px;
    }
    
  }
  .desc-right {
    max-width: 514px;
    width: 100%;
    @include mq(xs){
      margin-top: 30px;
    }
    h4 {
      font-family: 'Playfair Display', serif;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      color: #1f2228;
      margin-bottom: 22.03px;
      @include mq(xl){
        font-size: 24px;
        margin-bottom: 10px;
      }
      @include mq(xs){
        font-size: 20px;
      }
    }
    p {
      font-size: 18px;
      line-height: 28px;
      @include mq(sm){
        font-size: 16px;
        line-height: 1.6rem;
      }
    }
  }
  /*working procedure ends*/
  //reservation scss
  
  .reservation-areaV3 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include mq(xs) {
      padding: 50px 0;
    }
    &::before {
      display: none;
    }
    .input-group {
      margin-bottom: 0px;
      @include mq(sm) {
        height: 45px;
      }
      .input-group-text {
        background-color: $background-color_2;
      }
    }
    .form-top {
      padding: 50px 55px;
      background-size: cover;
      background-position: bottom;
      background-repeat: no-repeat;
      background-color: $background-color_1;
      @include mq(md) {
        padding: 30px;
      }
      h4 {
        font-family: $font-family_1;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 37px;
        margin-bottom: 30px;
        @include mq(xs) {
          margin-bottom: 15px;
        }
        @include mq(sm) {
          font-size: 24px;
        }
      }
      .input-col {
        p {
          color: $color_1;
          margin-bottom: 20px;
          font-weight: 500;
          font-size: 18px;
          line-height: 21px;
          @include mq(sm) {
            margin-bottom: 10px;
          }
        }
      }
      .input-group-text {
        i {
          width: 100%;
          font-size: 20px;
          color: $color_1;
        }
      }
      .nice-select {
        &:before {
          position: absolute;
          content: '';
          width: 60px;
          background-color: $background-color_2;
          right: -1px;
          top: -1px;
          height: calc(100% + 2px);
          right: -1px;
          border-radius: 0;
        }
        &:after {
          border-bottom: 3px solid #fff;
          border-right: 3px solid #fff;
          height: 12px;
          margin-top: -4px;
          top: 50%;
          width: 12px;
          right: 25px;
        }
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        .list {
          margin-top: 0px;
          width: 100%;
        }
        .option {
          border-bottom: 1px solid #ddd;
        }
      }
      .form-group {
        input {
          padding: 10px;
        }
      }
      .input-group.date {
        .input-group-addon {
          cursor: pointer;
          position: absolute;
          right: 0;
          background-color: $background-color_2;
          height: 100%;
          width: 60px;
          border-radius: 0;
          top: 0px;
          border: none;
        }
      }
      .glyphicon.glyphicon-calendar {
        font-size: 20px;
        color: $color_1;
        position: absolute;
        top: 10px;
        left: 20px;
      }
  
      span.current {
        font-size: 18px;
        opacity: 0.75;
      }
      input {
        outline: none;
      }
      .form-control {
        padding: 20px;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        line-height: 19px;
        font-family: $font-family_2;
      }
    }
  }
  .reservitation-inner {
    position: relative;
  }
  .reservation-wrapper {
    max-width: 940px;
    margin-left: auto;
  }
  .reservation-form {
    margin-top: 50px;
    border-radius: 10px;
    overflow: hidden;
    background-color: $white-dark;
    @include mq(sm) {
      margin-top: 20px;
    }
  }
  .all-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 40px;
    @include mq(xs) {
      grid-template-columns: 1fr;
      gap: 20px;
    }
    @include mq(sm) {
      margin-bottom: 20px;
    }
  }
  
  .form-bottom {
    background-color: $background-color_1;
    padding: 45px 60px 50px 60px;
    display: grid;
    grid-template-columns: 495px auto;
    gap: 95px;
    @include mq(md) {
      gap: 40px;
      grid-template-columns: 1fr;
    }
    @include mq(xs) {
      padding: 30px;
      gap: 30px;
    }
    @include mq(sm) {
      padding: 30px;
      gap: 20px;
    }
    h4 {
      font-family: $font-family_1;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 12px;
      color: $thmV3;
    }
    .query {
      p {
        line-height: 25.6px;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        @include mq(sm) {
          line-height: 1.6rem;
        }
      }
    }
    .form-contact {
      ul {
        li {
          margin-bottom: 20px;
          font-size: 18px;
          font-weight: 500;
          line-height: 21.13px;
          display: flex;
          gap: 5px;
          font-family: $font-family_2;
          @include mq(sm) {
            font-size: 16px;
          }
        }
      }
      button {
        width: 32px;
        height: 32px;
        border: navajowhite;
        background-color: $background-color_2;
        display: flex;
        align-items: center;
        justify-content: center;
  
        @include mq(sm) {
          width: 24px;
          height: 24px;
        }
        i {
          color: $color_1;
          @include mq(Sm) {
            font-size: 14px;
          }
        }
      }
    }
  }
  /*team area */
  .team-area {
    position: relative;
    @include mq(xs) {
      padding: 50px 0;
    }
    .teamS1,
    .teamS2,
    .teamS3,
    .teamS4 {
      position: absolute;
      @include mq(xs) {
        display: none;
      }
    }
    .teamS1 {
      top: 12%;
      left: 15%;
    }
  
    .teamS2 {
      top: 27%;
      right: 4%;
      @include mq(lg) {
        top: 15%;
      }
      @include mq(md) {
        top: 50%;
      }
    }
    .teamS3 {
      bottom: 30%;
      left: 8%;
      @include mq(xxl) {
        left: 2%;
      }
      @include mq(xl) {
        bottom: 10%;
      }
    }
  
    .teamS4 {
      bottom: 22%;
      right: 13%;
      @include mq(xl) {
        bottom: 10%;
      }
    }
    .team-member {
      display: grid;
      grid-template-columns: repeat(3, auto);
      gap: 30px;
      max-width: 1100px;
      margin: 50px auto;
      @include mq(md) {
        grid-template-columns: 1fr 1fr;
      }
      @include mq(sm) {
        grid-template-columns: 1fr;
        gap: 20px;
      }
    }
    .single-member {
      @include mq(sm) {
        max-width: 450px;
        margin: 0 auto;
      }
      .team-desc {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 36px 0px 29px 0px;
        .name {
          span {
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 23px;
            font-family: 'Raleway', sans-serif;
            margin-bottom: 6px;
          }
          p {
            font-size: 16px;
            line-height: 19px;
          }
        }
        .media-buttons {
          button {
            &:hover {
              background-color: #fff;
              i {
                color: #1f2228;
              }
            }
          }
        }
      }
      position: relative;
      overflow: hidden;
      z-index: 1;
      overflow: hidden;
      img {
        border-radius: 10px 10px 0px 0px;
        position: relative;
        z-index: -2;
      }
      &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          180deg,
          rgba(129, 189, 76, 0) 0%,
          #81bd4c 100%
        );
        opacity: 0;
        visibility: hidden;
        z-index: -1;
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
        transition: all 0.3s ease-in-out;
      }
      &:hover.single-member {
        &::before {
          clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
          opacity: 1;
          visibility: visible;
        }
      }
      &:hover {
        .team-desc {
          color: #fff;
          button {
            i {
              color: #fff;
            }
          }
        }
      }
    }
    .media-buttons {
      button {
        width: 34px;
        height: 34px;
        background-color: transparent;
        border: none;
        border-radius: 50%;
        margin-right: 20px;
        margin-bottom: 25px;
        transition: 0.3s ease-in;
        i {
          color: #555555;
          font-size: 20px;
        }
      }
    }
    .team-btn {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  @include mq(xl) {
  }
  @include mq(lg) {
  }
  @include mq(md) {
    .team-img-content a {
      padding: 10px;
      font-size: 14px;
    }
    .team-member {
      gap: 18px;
      max-width: 730px;
    }
  
    .single-member img {
      width: 100%;
    }
    .media-buttons button {
      width: 25px;
      height: 25px;
      margin-right: 8px;
      margin-bottom: 0;
      transition: 0.3s ease-in;
    }
    .member-overlay .team-desc .media-buttons button i {
      font-size: 14px;
    }
    .member-overlay .team-desc {
      left: 10%;
      transform: none;
    }
    .single-member .team-desc .name p {
      margin-top: 10px;
    }
  }
  @include mq(xs) {
    .team-member {
      grid-template-columns: repeat(2, auto);
    }
    .single-member {
      .team-desc {
        .name {
          span {
            font-size: 18px;
          }
        }
      }
    }
  }
  @include mq(sm) {
    .team-member {
      gap: 18px;
      max-width: 340px;
      grid-template-columns: 300px;
      justify-content: center;
    }
    .member-overlay {
      .team-desc {
        left: 50%;
        transform: translate(-50%);
        width: 100%;
      }
    }
  }
  
  /*team area scss ends here*/
  
  /*Review area css starts from here*/
  .review-area3 {
    position: relative;
    background-position: center;
    background-size: cover;
    @include mq(xs) {
      padding: 50px 0;
    }
  
    .review-wrapper {
      .wrapper-img {
        img {
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }
  }
  .review-inner {
    max-width: 1576px;
    position: relative;
  }
  .review-wrapper {
    background-color: #fff;
    width: 100%;
    @include mq(md) {
      padding: 50px 0;
    }
  }
  .review {
    max-width: 1023px;
    margin: 0 auto;
  }
  .review-slider2 {
    max-width: 736px;
    margin: 50px auto 0;
  }
  .sliderfirst {
    padding-top: 50px;
    padding-bottom: 10px;
  }
  .single-review {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid #81bd4c;
    max-width: 736px;
    margin: 0 auto;
    padding: 0px 33px 43px 34px;
    text-align: center;
    @include mq(sm) {
      border: none;
    }
    .review-img-top {
      img {
        margin-top: -50px;
      }
    }
    .review-desc {
      span {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
        color: #1f2228;
      }
      margin-top: 30px;
      margin-bottom: 10px;
    }
    p {
      font-family: 'Playfair Display', serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 32px;
      text-align: center;
      @include mq(sm) {
        font-size: 16px;
        line-height: 1.6rem;
      }
      color: #1f2228;
    }
  }
  .review-img-top {
    position: relative;
    z-index: 2;
    &:before {
      position: absolute;
      content: '';
      width: 120px;
      height: 40px;
      background-color: #fff;
      top: -30px;
      left: -20px;
      z-index: -1;
    }
  }
  .review-img-bottom {
    img {
      margin-bottom: -100px;
      position: relative;
    }
    position: relative;
    z-index: 2;
    &:after {
      position: absolute;
      content: '';
      width: 70px;
      height: 40px;
      background-color: #fff;
      left: -50%;
      transform: translateY(100%);
      z-index: -1;
    }
  }
  .slick-slide {
    img {
      display: inline-block;
    }
  }
  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    color: #1f2228;
    background-color: transparent;
    border: none;
    &:hover {
      color: #81bd4c;
    }
  }
  .slick-next.slick-arrow {
    right: -6.5%;
  }
  .slick-prev.slick-arrow {
    left: -6.5%;
  }
  
  @include mq(xl) {
  }
  @include mq(lg) {
  }
  @include mq(md) {
    .review-slider2 {
      max-width: 500px;
      margin: 50px auto 0;
      @include mq(xs) {
        margin: 30px auto 0;
      }
    }
    .review-inner {
      max-width: 600px;
      margin: 0 auto;
    }
  }
  @include mq(xs) {
    .review-wrapper {
      padding: 50px 0;
    }
    .review-slider3 {
      max-width: 400px;
    }
    .slick-arrow {
      font-size: 14px;
      bottom: -50px;
      left: 50%;
      top: unset;
    }
    .slick-prev.slick-arrow {
      left: 46%;
    }
    .slick-next.slick-arrow {
      right: 46%;
    }
    .single-review {
      max-width: 400px;
      padding: 0px 20px 20px 20px;
    }
    .review-img-bottom img {
      margin-bottom: -60px;
    }
  }
  @include mq(sm) {
  }
  
  /*Review area css ends here*/
  /*subscribe area scss*/
  .subscribe3 {
    .sectionTitle {
      h2 {
        color: $thmV3;
      }
      span {
        background-color: $thmV3;
      }
    }
    .form {
      button {
        background-color: $thmV3;
        color: $black-dark;
      }
    }
  }
  /*expert team scss*/
  .top3{
    background-color: $thmV3;
  }